# General
CONFIG_IDF_TARGET="esp32c6"

# GPIO and Sensor
CONFIG_SENSOR_I2C_SDA_GPIO=6
CONFIG_SENSOR_I2C_SCL_GPIO=7
CONFIG_LED_GPIO=8
CONFIG_BUTTON_GPIO=9

# Bluetooth (NIMBLE)
CONFIG_BT_NIMBLE_EXT_ADV=n
CONFIG_USE_BLE_ONLY_FOR_COMMISSIONING=y

# Network
CONFIG_LWIP_IPV6_AUTOCONFIG=y

# LwIP
CONFIG_LWIP_IPV6_NUM_ADDRESSES=6

# MDNS
CONFIG_USE_MINIMAL_MDNS=y
CONFIG_ENABLE_EXTENDED_DISCOVERY=y

# Wi-Fi
CONFIG_ENABLE_WIFI_STATION=y
CONFIG_ENABLE_WIFI_AP=n