CONFIG_IDF_TARGET="esp32s3"
CONFIG_CHIP_PROJECT_CONFIG="main/include/CHIPDeviceConfig.h"

# Overwrite default GPIO pin definition for I2C
CONFIG_SENSOR_I2C_SDA_GPIO=35
CONFIG_SENSOR_I2C_SCL_GPIO=36

# Overwrite default GPIO pin definition for reset button
CONFIG_BUTTON_GPIO=0

# Overwrite default GPIO pin definition for RGB led
CONFIG_LED_GPIO=47

#enable BT
CONFIG_BT_ENABLED=y
CONFIG_BT_NIMBLE_ENABLED=y

#disable BT connection reattempt
CONFIG_BT_NIMBLE_ENABLE_CONN_REATTEMPT=n

#enable lwip ipv6 autoconfig
CONFIG_LWIP_IPV6_AUTOCONFIG=y

# Use a custom partition table
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_FILENAME="partitions.csv"
CONFIG_PARTITION_TABLE_OFFSET=0xC000

# Enable chip shell
CONFIG_ENABLE_CHIP_SHELL=y

#enable lwIP route hooks
CONFIG_LWIP_HOOK_IP6_ROUTE_DEFAULT=y
CONFIG_LWIP_HOOK_ND6_GET_GW_DEFAULT=y

# Enable HKDF in mbedtls
CONFIG_MBEDTLS_HKDF_C=y
