# General
CONFIG_IDF_TARGET="esp32c6"

# GPIO and Sensor
CONFIG_SENSOR_I2C_SDA_GPIO=6
CONFIG_SENSOR_I2C_SCL_GPIO=7
CONFIG_LED_GPIO=8
CONFIG_BUTTON_GPIO=9

# Bluetooth (NIMBLE)
CONFIG_BT_NIMBLE_EXT_ADV=n
CONFIG_BT_NIMBLE_TRANSPORT_EVT_SIZE=70
CONFIG_USE_BLE_ONLY_FOR_COMMISSIONING=n

# OpenThread
CONFIG_OPENTHREAD_ENABLED=y
CONFIG_OPENTHREAD_SRP_CLIENT=y
CONFIG_OPENTHREAD_DNS_CLIENT=y
CONFIG_OPENTHREAD_LOG_LEVEL_DYNAMIC=n
CONFIG_OPENTHREAD_LOG_LEVEL_NOTE=y
CONFIG_OPENTHREAD_CLI=n

# Network
CONFIG_LWIP_IPV6_AUTOCONFIG=n

# Thread
CONFIG_ENABLE_MATTER_OVER_THREAD=y

# LwIP
CONFIG_LWIP_IPV6_NUM_ADDRESSES=8
CONFIG_LWIP_MULTICAST_PING=y

# MDNS
CONFIG_USE_MINIMAL_MDNS=n
CONFIG_ENABLE_EXTENDED_DISCOVERY=y

# Wi-Fi
CONFIG_ENABLE_WIFI_STATION=n
CONFIG_ENABLE_WIFI_AP=n

# Subscription Management
CONFIG_ENABLE_PERSIST_SUBSCRIPTIONS=n

# MRP (Mesh Routing Protocol)
CONFIG_MRP_LOCAL_ACTIVE_RETRY_INTERVAL_FOR_THREAD=5000
CONFIG_MRP_LOCAL_IDLE_RETRY_INTERVAL_FOR_THREAD=5000
CONFIG_MRP_RETRY_INTERVAL_SENDER_BOOST_FOR_THREAD=5000
CONFIG_MRP_MAX_RETRANS=3